# Files and directories created by pub.
.dart_tool/
.packages
pubspec.lock

# Conventional directory for build output.
build/
lib/src/dependencies.config.dart
*.g.dart

# IDE configuration
.idea/
dialog_bot.iml

# env
env.sh
lib/src/gen/